body {
  /* using sass like variables thanks to postcss-simple-vars */
  font-famiy: $baseFontFamily;
  color: $mainFontColor;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
}

h1 {
  font-size: 50px;
}
/* if you look in the output these will be combined into one selector thanks to postcss-merge-rules */
/* this comment will be removed thanks to postcss-discard-comments */
h1 {
  font-weight: 300;
}