@import '_variables';
@import '_typography';

* {
  box-sizing: border-box;
}


div {
  border-radius:20px;
  animation:test 1s ease;
  @extend body;

  &.class {
    width: 50px;
  }
  .class & {
    width: 70px;
  }

  @media (max-width: 500px) {
    background: red;
    color: blue;
  }
}

@keyframes test {
  0% {
    left: 0;
  }
  100% {
    left: 100vw;
  }
}

